In [8]:
import pandas as pd
d1={'pid':[101,102,103,104],'pname':['reebok','puma','adidas','guess'],
    'pprice':[1000,2000,3000,5000]}
df_left=pd.DataFrame(d1)
print(df_left)

   pid   pname  pprice
0  101  reebok    1000
1  102    puma    2000
2  103  adidas    3000
3  104   guess    5000

In [9]:
d2={'pid':[101,102,104,103,105],'pcolor':['red','green','blue','yellow','pink'],
     'psloc':['delhi','noida','agra','rohtak','gurgaon'],
    'pprice':[1000,2000,4000,5000,6000]
   }
df_right=pd.DataFrame(d2)

   pid  pcolor    psloc  pprice
0  101     red    delhi    1000
1  102   green    noida    2000
2  104    blue     agra    4000
3  103  yellow   rohtak    5000
4  105    pink  gurgaon    6000

for methods to merge dataframe
1)inner
2)outer
3)left
4)right




<b> 'how=inner' inner merge it merge Data frame on the basis of set intersect theory </b>

press tap to see syntax hints

In [12]:
df_imerge=pd.merge(df_left,df_right,how='inner',on=['pid']) #syntax; variable=pd.merge(DF1,DF2,how='method', on=['column1']) column1 is column which must be present in both dataframe,its a column from which merging based on
print(df_imerge)

   pid   pname  pprice_x  pcolor   psloc  pprice_y
0  101  reebok      1000     red   delhi      1000
1  102    puma      2000   green   noida      2000
2  103  adidas      3000  yellow  rohtak      5000
3  104   guess      5000    blue    agra      4000

In [13]:
df_imerge1=pd.merge(df_left,df_right,how='inner',on=['pid','pprice'])
print(df_imerge1)

   pid   pname  pprice pcolor  psloc
0  101  reebok    1000    red  delhi
1  102    puma    2000  green  noida

<b> 'how=outher' outer merge merge data frame on the basis os 'set union theory' </b>

In [14]:
df_omerge=pd.merge(df_left,df_right,how='outer',on=['pid'])
print(df_omerge)

   pid   pname  pprice_x  pcolor    psloc  pprice_y
0  101  reebok    1000.0     red    delhi      1000
1  102    puma    2000.0   green    noida      2000
2  103  adidas    3000.0  yellow   rohtak      5000
3  104   guess    5000.0    blue     agra      4000
4  105     NaN       NaN    pink  gurgaon      6000

In [15]:
df_omerge1=pd.merge(df_left,df_right,how='outer',on=['pid','pprice'])
print(df_omerge1)

   pid   pname  pprice  pcolor    psloc
0  101  reebok    1000     red    delhi
1  102    puma    2000   green    noida
2  103  adidas    3000     NaN      NaN
3  104   guess    5000     NaN      NaN
4  104     NaN    4000    blue     agra
5  103     NaN    5000  yellow   rohtak
6  105     NaN    6000    pink  gurgaon

In [17]:
df_omerge1.dropna()

   pid   pname  pprice pcolor  psloc
0  101  reebok    1000    red  delhi
1  102    puma    2000  green  noida

<b>'how=left' merge data according to left dataframe that means it picks data from left dataframe then find values for the same in right dataframe</b>

In [21]:
df_lmerge=pd.merge(df_left,df_right,how='left',on=['pprice'])
print(df_lmerge)

   pid_x   pname  pprice  pid_y  pcolor   psloc
0    101  reebok    1000  101.0     red   delhi
1    102    puma    2000  102.0   green   noida
2    103  adidas    3000    NaN     NaN     NaN
3    104   guess    5000  103.0  yellow  rohtak

<b>'how=right' merge data according to right dataframe that means it picks data from right dataframe then find values for the same in left dataframe</b>

In [26]:
df_rmerge=pd.merge(df_left,df_right,how='right',on=['pid','pprice'])
print(df_rmerge)

   pid   pname  pprice  pcolor    psloc
0  101  reebok    1000     red    delhi
1  102    puma    2000   green    noida
2  104     NaN    4000    blue     agra
3  103     NaN    5000  yellow   rohtak
4  105     NaN    6000    pink  gurgaon

In [23]:
df_left

   pid   pname  pprice
0  101  reebok    1000
1  102    puma    2000
2  103  adidas    3000
3  104   guess    5000

In [24]:
df_right

   pid  pcolor    psloc  pprice
0  101     red    delhi    1000
1  102   green    noida    2000
2  104    blue     agra    4000
3  103  yellow   rohtak    5000
4  105    pink  gurgaon    6000