pnada assign name to any data type according to itself 

three types of data in it 
1) series - 1D data 
2)data frame - 2D data 
3)panel-3D data- it will be end soon

In [1]:
import pandas as pd

In [2]:
s=pd.Series([10,20,30,40])

In [3]:
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [11]:
print(s[0])

10

In [5]:
s1=pd.Series(['a','b','c','d'])

In [6]:
print(s1)

0    a
1    b
2    c
3    d
dtype: object

In [7]:
s2=pd.Series([10,20,30,40],index=[100,200,300,400]) #manual indexing argument

In [8]:
print(s2)

100    10
200    20
300    30
400    40
dtype: int64

In [12]:
print(s2[100]) #index on integer type data

10

In [9]:
s3=pd.Series([10,20,30,40],index=['a','b','c','d'])

In [10]:
print(s3)

a    10
b    20
c    30
d    40
dtype: int64

In [13]:
print(s3['a'])

10

In [15]:
print(s3[0])

10

In [19]:
d={'c1':100,'c2':'pandas','c3':300}

In [20]:
s4=pd.Series(d)

In [21]:
print(s4)

c1       100
c2    pandas
c3       300
dtype: object

In [22]:
s5=pd.Series(d,index=[100,200,300]) # manual labeling in dictionary

In [23]:
print(s5)

100    NaN
200    NaN
300    NaN
dtype: object

creating data frame

In [24]:
df=pd.DataFrame([[2,4,8,6],[1,2,3,4]])

In [25]:
print(df)

   0  1  2  3
0  2  4  8  6
1  1  2  3  4

In [27]:
df1=pd.DataFrame([[2,4,8,6],[1,2,3,4]],index=['a','b']) #manual labeling on rows

In [28]:
print(df1)

   0  1  2  3
a  2  4  8  6
b  1  2  3  4

In [30]:
df2=pd.DataFrame([[2,4,8,6],[1,2,3,4]],index=['a','b'],columns=[101,102,103,104]) #manual labeling on rows and columns

In [31]:
print(df2)

   101  102  103  104
a    2    4    8    6
b    1    2    3    4

<b> Nested Dict Making </b>

In [34]:
d={1:{'a':'jupitarlab','b':'spydr'},2:{'aa':'python','bb':'c++'},3:{'a1':'mango','a2':'orange'}}

In [35]:
print(d)
type(d)

{1: {'a': 'jupitarlab', 'b': 'spydr'}, 2: {'aa': 'python', 'bb': 'c++'}, 3: {'a1': 'mango', 'a2': 'orange'}}

dict

In [36]:
df3=pd.DataFrame(d)

In [37]:
print(df3)

             1       2       3
a   jupitarlab     NaN     NaN
a1         NaN     NaN   mango
a2         NaN     NaN  orange
aa         NaN  python     NaN
b        spydr     NaN     NaN
bb         NaN     c++     NaN